<footer>
    <div>
        <div class="footer-logo">
            <img src="https://assets.website-files.com/61d590297ef36ce689856d30/620247b8a593fc0366e02c8c_NavLogo.svg" />
        </div>
        <div class="footer-address">
            <h4>Contact</h4>
            <a href="mailt0:unite@decarb.earth">unite@decarb.earth</a><br />
            <a target="_blank" rel="nofollow" href="https://www.google.co.za/maps/place/71,+75+Shelton+St,+London+WC2H+9JQ,+UK/@51.5148525,-0.1257137,17z/data=!3m1!4b1!4m5!3m4!1s0x487604ccab1f237b:0x436d7f0832fd499d!8m2!3d51.5148525!4d-0.123525">
                71-75 Shelton St, Covent Garden London, London WC2H 9FD, UK</a>
        </div>
    </div>
    <div class="footer-legal">
        Decarb Earth 2022. All rights reserved.
    </div>
</footer>