<div class="home-banner">
    <div class="logged-in">
        <span>{{logged}} &nbsp;&nbsp; <button (click)="logout()">Logout</button></span>
    </div>

    <div class="banner-content">
        <div>
            <img alt="home banner"
                src="https://assets.website-files.com/61d590297ef36ce689856d30/620ce60c5547e108796d8aba_HomeIllustration.svg" />
        </div>
        <div>
            <h1>
                <span>Welcome to the home of</span> decarbonisation
            </h1>
            <p>Our mission is to accelerate decarbonisation globally. We’re doing this by creating transparency and
                accountability tools that help SMEs in the process of transitioning to renewables increase their
                profitability.</p>
        </div>
    </div>
</div>